h1 {
    color: black;
}

footer {
    background-color: pink;
    color: black;
}

body {
    background-color: black;
}

header {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    height: 80vb;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px black;

}
h3 {color: black;}